* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
}

#waybar {
    background: rgba(0,0,0,0.4);
    color: #eeeeef;
    font-size: 14px;
}

#custom-launcher,
#workspaces,
#custom-playerctl,
#custom-playerlabel,
#window,
#tray,
#battery,
#backlight,
#pulseaudio,
#clock,
#custom-updates,
#custom-power {
    padding: 7px 7px;
    min-width: 15px;
}

#custom-launcher {
    font-size: 17px;
}

#workspaces button {
    padding: 0 5px;
    color: #eeeeef;
}

/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
    color: #1762e3;
}

#workspaces button:hover {
    background: radial-gradient(circle, rgba(255,255,255,0.55) 0%, rgba(0,0,0,0) 100%);
    border-radius: 100%;
}

#custom-playerlabel {
    font-size: 11px;
    color: #9faabf;
}

#window {
    color: #9faabf;
}


