/*
 * vim: ft=less
 */

@define-color cc-bg rgba(22, 34, 66, 0.85);

@define-color noti-border-color rgba(205, 214, 244, 0.8);
@define-color noti-bg rgba(7, 40, 94, 0.85);
@define-color noti-bg-hover rgba(7, 40, 94, 1);

.notification-row:focus,
.notification-row:hover {
  background: none;
}

.notification-default-action {
  border-radius: 5px;
}

.control-center {
  background: @cc-bg;
  border-radius: 5px;
  border: 2px solid @noti-border-color;
}

.image {
  margin: 10px;
}
